In [1]:
import pandas as pd

In [4]:
%pwd

u'/Users/studentuser'

In [13]:
%cd Desktop/main_repo/data/

/Users/studentuser/Desktop/main_repo/data

In [34]:
data = pd.read_csv('4mo_deadhead_results.csv')
data.to_csv('4mo_deadhead_results.csv', index=False)
data

       Unnamed: 0 ServiceDate   Run    CostProxy  PctDeadhead
0               0  0015-01-01  9701  2460.000000     0.372764
1              29  0015-01-01  9706  3218.444444     0.414486
2              52  0015-01-01  9702  3120.000000     0.046763
3              76  0015-01-01  9703  3003.000000     0.199606
4             105  0015-01-01  9704  3416.444444     0.000000
5             127  0015-01-01  9705  3180.111111     0.464379
6             150  0015-01-01  9708  3891.714286     0.292636
7             170  0015-01-01  9707  2970.300000     0.326196
8             195  0015-01-01  9710  3091.777778     0.237116
9             218  0015-01-01  9709  5820.600000     0.341992
10            233  0015-01-01  9722  4086.428571     0.419332
11            252  0015-01-01  9711  4714.285714     0.120515
12            269  0015-01-01  9712  3334.000000     0.312304
13            292  0015-01-01  9723  3227.222222     0.389878
14            315  0015-01-01  9713  4422.857143     0.000000
15            333  0015-01-01  9714  2765.454545     0.370151
16            359  0015-01-01  9724  3187.555556     0.355828
17            381  0015-01-01  9715  4536.000000     0.342498
18            400  0015-01-01  9716  3414.750000     0.432389
19            422  0015-01-01  9717  2880.000000     0.000000
20            445  0015-01-01  9718  3336.777778     0.332390
21            468  0015-01-01  9726  3957.142857     0.330469
22            486  0015-01-01  9719  3200.888889     0.366495
23            509  0015-01-01  9721  2914.200000     0.290577
24            534  0015-01-01  9728  3046.166667     0.371669
25            549  0015-01-01  9729  2600.000000     0.087885
26            564  0015-01-01  9730  2777.857143     0.091643
27            581  0015-01-01  8701  2672.727273     0.256769
28            608  0015-01-01  8702  2955.900000     0.372442
29            634  0015-01-01  8717  2400.000000     0.184062
...           ...         ...   ...          ...          ...
28568      715395  0015-04-03  5541  4179.500000     0.343223
28569      715406  0015-04-10  5541  1794.900000     0.096886
28570      715429  0015-04-17  5541  3180.000000     0.356813
28571      715445  0015-03-20  5542  2850.000000     0.179883
28572      715460  0015-04-03  5542  2890.000000     0.296367
28573      715476  0015-04-10  5542  2430.000000     0.426200
28574      715492  0015-03-20  5543  3540.200000     0.341845
28575      715506  0015-04-03  5543  4020.250000     0.444500
28576      715518  0015-04-24  5543  2830.000000     0.199823
28577      715534  0015-03-21  8049  3693.800000     0.374682
28578      715548  0015-03-28  8049  1832.000000     0.257860
28579      715583  0015-04-04  8049  2750.000000     0.406485
28580      715602  0015-03-21  8050  3647.800000     0.440320
28581      715616  0015-03-28  8050  4905.000000     0.330224
28582      715628  0015-04-11  8050  3624.000000     0.392826
28583      715642  0015-04-25  8050  2850.333333     0.572214
28584      715659  0015-03-21  8051  4410.000000     0.558844
28585      715671  0015-03-28  8051  3020.000000     0.218764
28586      715687  0015-04-04  8051  2834.666667     0.164687
28587      715707  0015-04-18  8051  6080.000000     0.489474
28588      715717  0015-04-25  8051  2960.000000     0.397241
28589      715733  0015-03-21  8052  4660.000000     0.529685
28590      715744  0015-04-04  8052  4500.000000     0.327056
28591      715756  0015-04-11  8052  3660.000000     0.343934
28592      715770  0015-04-18  8052  4650.000000     0.560376
28593      715782  0015-03-21  8048  4200.428571     0.535864
28594      715802  0015-03-28  8048  4202.285714     0.400020
28595      715824  0015-04-04  8048  3123.777778     0.073309
28596      715847  0015-04-11  8048  3413.333333     0.408301
28597      715871  0015-04-18  8048  3675.000000     0.499388

[28598 rows x 5 columns]

In [19]:
data[data.PctDeadhead > 0.9]

       Unnamed: 0 ServiceDate   Run     CostProxy  PctDeadhead
1285        28921  0015-04-25   BD2   3617.000000     0.932264
1295        29053  0015-03-03   BD3   3120.000000     0.903526
4209       108625  0015-04-16  6060   3225.000000     0.954625
5010       133144  0015-04-21  6131  19037.000000     0.924358
7361       189501  0015-01-16   332  36610.000000     0.911500
7403       190527  0015-01-22   333  37644.000000     0.936245
10891      276072  0015-04-22  1520   3651.200000     0.920848
13599      329777  0015-03-03  4031  20587.000000     0.906737
14194      345921  0015-02-05  4053  29449.000000     0.912391
15358      379477  0015-04-24  4121   1997.142857     0.922818
17124      429609  0015-02-10  5030  22861.000000     0.934386
20040      502944  0015-04-04  9023  34693.000000     0.970599
22074      551356  0015-01-04  9233  19728.000000     0.942214
23937      593114  0015-04-13  2021   5360.000000     0.999689
28495      713573  0015-04-15  5236  31338.000000     0.952135

In [21]:
full_data = pd.read_csv('UW_Trip_Data_14mo_QC.csv')
full_data

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
0,1,61,0015-01-01,9701,6,1,1195,4,13500,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2,62,0015-01-01,9701,6,3225836,6878,0,15398,180,...,19047309,1,SUB,1,CLI1,NaN,107630,1,0,1
2,3,63,0015-01-01,9701,6,5815993,6879,1,17126,120,...,19047309,1,SUB,1,NaN,CLI1,107630,0,1,0
3,4,64,0015-01-01,9701,6,9677402,8711,0,18219,180,...,19058777,1,DEM,1,CLI1,NaN,7800,1,0,1
4,5,65,0015-01-01,9701,6,12903201,8749,1,18962,120,...,19058777,1,DEM,1,NaN,CLI1,7800,0,1,0
5,6,66,0015-01-01,9701,6,18750022,8663,0,19879,180,...,19057857,1,DEM,1,CLI1,NaN,74574,1,0,1
6,7,67,0015-01-01,9701,6,20413334,8605,1,20509,120,...,19057857,1,DEM,1,NaN,CLI1,74574,0,1,0
7,8,68,0015-01-01,9701,6,20967741,7982,0,21042,180,...,19047838,1,SUB,1,CLI1,NaN,107865,1,0,1
8,9,69,0015-01-01,9701,6,31187536,7983,1,22150,120,...,19047838,1,SUB,1,NaN,CLI1,107865,0,1,0
9,10,70,0015-01-01,9701,6,35881498,1756,0,24386,270,...,19047847,1,SUB,1,"CLI1,COM1",NaN,135240,1,0,1
10,11,71,0015-01-01,9701,6,40213966,9384,0,26121,180,...,19067202,1,DEM,1,CLI1,NaN,89819,1,0,2
11,12,72,0015-01-01,9701,6,41658084,1757,1,26419,180,...,19047847,1,SUB,1,NaN,"CLI1,COM1",135240,0,1,1
12,13,73,0015-01-01,9701,6,45777153,9442,1,26956,120,...,19067202,1,DEM,1,NaN,CLI1,89819,0,1,0
13,14,74,0015-01-01,9701,6,48387083,8528,7,27552,1800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
14,15,75,0015-01-01,9701,6,59302063,9488,0,30306,180,...,19067282,1,DEM,1,CLI1,NaN,56502,1,0,1
15,16,76,0015-01-01,9701,6,61638852,9505,1,31415,120,...,19067282,1,DEM,1,NaN,CLI1,56502,0,1,0
16,17,77,0015-01-01,9701,6,68649254,9443,0,32732,180,...,19067215,1,DEM,1,CLI1,NaN,5937,1,0,1
17,18,78,0015-01-01,9701,6,70049052,9440,1,33514,120,...,19067215,1,DEM,1,NaN,CLI1,5937,0,1,0
18,19,79,0015-01-01,9701,6,74248530,9689,0,34951,420,...,19067792,1,DEM,1,CLI1,NaN,4473,1,0,1
19,20,80,0015-01-01,9701,6,78125043,9089,0,36152,180,...,19064018,1,DEM,1,CLI1,NaN,134554,1,0,2
20,21,81,0015-01-01,9701,6,81856759,9140,1,37242,120,...,19064018,1,DEM,1,NaN,CLI1,134554,0,1,1
21,22,82,0015-01-01,9701,6,83100675,9811,1,38093,300,...,19067792,1,DEM,1,NaN,CLI1,4473,0,1,0
22,23,83,0015-01-01,9701,6,87417543,2905,0,39265,420,...,19047868,1,SUB,1,CLI1,NaN,125336,1,0,1
23,24,84,0015-01-01,9701,6,89665146,1725,0,39735,180,...,19047465,1,SUB,1,CLI1,NaN,101445,1,0,2
24,25,85,0015-01-01,9701,6,91583366,2906,1,40100,300,...,19047868,1,SUB,1,NaN,CLI1,125336,0,1,1
25,26,86,0015-01-01,9701,6,96081361,1726,1,41383,120,...,19047465,1,SUB,1,NaN,CLI1,101445,0,1,0
26,27,87,0015-01-01,9701,6,97580671,10649,6,42127,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
27,28,88,0015-01-01,9701,6,98185530,15525,16,42885,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
28,29,89,0015-01-01,9701,6,99999998,1196,3,43020,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
29,30,90,0015-01-01,9706,6,1,1193,4,17100,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715865,715866,674227,0015-04-11,8048,5,75613060,3738,0,71381,360,...,19454907,1,DEM,1,"CLI1,COM2",NaN,108590,1,0,1
715866,715867,674228,0015-04-11,8048,5,79085615,3665,1,74032,240,...,19454907,1,DEM,1,NaN,"CLI1,COM2",108590,0,1,0
715867,715868,674229,0015-04-11,8048,5,80243146,5735,0,76208,420,...,19459802,1,SNA,1,CLI1,NaN,75681,1,0,1
715868,715869,674230,0015-04-11,8048,5,81400651,5747,1,77580,300,...,19459802,1,SNA,1,NaN,CLI1,75681,0,1,0
715869,715870,674231,0015-04-11,8048,5,95652158,19205,16,79809,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715870,715871,674232,0015-04-11,8048,5,99999998,30,3,80580,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715871,715872,724062,0015-04-18,8048,5,1,29,4,48180,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715872,715873,724063,0015-04-18,8048,5,3448297,13988,8,51540,3600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715873,715874,724064,0015-04-18,8048,5,10344797,15370,8,54781,4200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715874,715875,724065,0015-04-18,8048,5,13793121,3174,0,58980,600,...,19478930,1,DEM,1,"CLI1,PCA1",NaN,85598,1,0,1
715875,715876,724066,0015-04-18,8048,5,17241410,584,0,60794,180,...,19461101,1,SUB,1,CLI1,NaN,18320,1,0,2
715876,715877,724067,0015-04-18,8048,5,20689671,5776,0,61447,360,...,19487402,1,DEM,1,"CLI1,COM2",NaN,50420,1,0,3
715877,715878,724068,0015-04-18,8048,5,24137910,5703,1,62093,240,...,19487402,1,DEM,1,NaN,"CLI1,COM2",50420,0,1,2
715878,715879,724069,0015-04-18,8048,5,27586175,585,1,62108,60,...,19461101,1,SUB,1,NaN,CLI1,18320,0,1,1
715879,715880,724070,0015-04-18,8048,5,31034466,3196,1,63940,420,...,19478930,1,DEM,1,NaN,"CLI1,PCA1",85598,0,1,0
715880,715881,724071,0015-04-18,8048,5,33620633,2642,5,63981,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715881,715882,724072,0015-04-18,8048,5,34482728,2643,7,64561,1800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715882,715883,724073,0015-04-18,8048,5,37931047,5637,0,68224,420,...,19487310,1,DEM,1,CLI1,NaN,134188,1,0,1
715883,715884,724074,0015-04-18,8048,5,44827594,5653,1,69926,300,...,19487310,1,DEM,1,NaN,CLI1,134188,0,1,0
715884,715885,724075,0015-04-18,8048,5,48275814,7456,5,70232,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715885,715886,724076,0015-04-18,8048,5,51724080,5755,0,71534,270,...,19487411,1,DEM,1,"CLI1,COM1",NaN,135671,1,0,1
715886,715887,724077,0015-04-18,8048,5,55172352,5728,0,71774,270,...,19487403,1,DEM,1,"CLI1,COM2",NaN,50420,1,0,2
715887,715888,724078,0015-04-18,8048,5,58620662,5951,0,71818,90,...,19487668,1,DEM,1,CLI1,NaN,90291,1,0,3
715888,715889,724079,0015-04-18,8048,5,65517206,6340,0,72188,420,...,19487892,1,DEM,1,CLI1,NaN,98313,1,0,4
715889,715890,724080,0015-04-18,8048,5,72413807,5783,1,73288,180,...,19487411,1,DEM,1,NaN,"CLI1,COM1",135671,0,1,3
715890,715891,724081,0015-04-18,8048,5,75862062,5760,1,73390,180,...,19487403,1,DEM,1,NaN,"CLI1,COM2",50420,0,1,2
715891,715892,724082,0015-04-18,8048,5,78448223,6273,1,73960,300,...,19487892,1,DEM,1,NaN,CLI1,98313,0,1,1
715892,715893,724083,0015-04-18,8048,5,79094792,5989,1,75660,120,...,19487668,1,DEM,1,NaN,CLI1,90291,0,1,0
715893,715894,724084,0015-04-18,8048,5,95652180,18280,16,76862,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715894,715895,724085,0015-04-18,8048,5,99999998,30,3,77580,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [38]:
full_data[(full_data.ServiceDate == '0015-04-13') & (full_data.Run == '2021')]

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
593114,593115,683096,0015-04-13,2021,5,1,281,4,19740,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593115,593116,683097,0015-04-13,2021,5,6249995,9330,5,22380,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593116,593117,683098,0015-04-13,2021,5,7812500,46778,8,32679,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593117,593118,683099,0015-04-13,2021,5,8333328,13436,0,32680,180,...,19461715,1,DEM,1,CLI1,NaN,30773,1,0,1
593118,593119,683100,0015-04-13,2021,5,16666667,8742,0,32681,180,...,19439378,1,SUB,1,CLI1,NaN,134030,1,0,2
593119,593120,683101,0015-04-13,2021,5,24999964,6065,0,32682,420,...,19439462,1,SUB,1,CLI1,NaN,40567,1,0,3
593120,593121,683102,0015-04-13,2021,5,33333322,13504,1,32683,120,...,19461715,1,DEM,1,NaN,CLI1,30773,0,1,2
593121,593122,683103,0015-04-13,2021,5,41666693,6066,1,32684,300,...,19439462,1,SUB,1,NaN,CLI1,40567,0,1,1
593122,593123,683104,0015-04-13,2021,5,49999985,8743,1,32685,120,...,19439378,1,SUB,1,NaN,CLI1,134030,0,1,0
593123,593124,683105,0015-04-13,2021,5,62499969,46821,8,32686,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593124,593125,683106,0015-04-13,2021,5,66666621,18177,6,34980,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593125,593126,683107,0015-04-13,2021,5,91666671,29603,16,35640,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593126,593127,683108,0015-04-13,2021,5,99999998,20260,3,35820,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [41]:
eights = full_data[full_data.Activity == 8]
eights

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
147,148,208,0015-01-01,9705,6,82291654,15658,8,40320,3120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
166,167,227,0015-01-01,9708,6,78749965,16895,8,49560,1980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
418,419,479,0015-01-01,9716,6,78260827,17037,8,57120,4860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
630,631,697,0015-01-01,8702,5,81481435,15132,8,41821,3420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
888,889,955,0015-01-01,8706,5,67307679,16873,8,45300,2100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
893,894,960,0015-01-01,8711,5,1250007,20416,8,48180,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
912,913,979,0015-01-01,8730,5,1388908,17837,8,59581,3000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
949,950,1016,0015-01-01,8712,5,78260899,18404,8,66001,2400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1013,1014,1080,0015-01-01,8729,5,24999952,20419,8,57900,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
1025,1026,1092,0015-01-01,8729,5,72826123,20420,8,72000,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
1032,1033,1099,0015-01-01,8714,5,4347833,15735,8,44658,2160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1118,1119,1185,0015-01-01,8721,5,81481437,17139,8,53881,4800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1161,1162,1228,0015-01-01,8723,5,70517194,14397,8,45901,9420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1185,1186,1252,0015-01-01,8724,5,80000008,17293,8,62100,3300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1210,1211,1277,0015-01-01,8725,5,78790313,17621,8,60840,4560,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
1222,1223,1289,0015-01-01,8726,5,31694492,20417,8,53760,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1232,1233,1299,0015-01-01,8726,5,78749970,20418,8,66841,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1251,1252,1318,0015-01-01,8727,5,76190507,18422,8,72241,4200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1494,1495,196908,0015-01-31,999R,6,99845613,18423,8,64309,3000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
1516,1517,199498,0015-02-01,999R,6,43743876,17194,8,54086,4140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1556,1557,247203,0015-02-08,999R,6,43388373,16638,8,51897,6360,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1645,1646,339973,0015-02-22,999R,6,34294543,12872,8,40800,17100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1854,1855,575930,0015-03-28,999R,6,93954953,18313,8,75178,3000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1940,1941,673102,0015-04-11,999R,6,29890723,13180,8,46241,31200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
2071,2072,1347,0015-01-01,8003R,5,1086961,20414,8,30540,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
2074,2075,1350,0015-01-01,8003R,5,11956487,20415,8,37020,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
2090,2091,1366,0015-01-01,8003R,5,78260836,17799,8,58141,4500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
3455,3456,737539,0015-04-21,700LD,6,30355031,43708,8,53160,14760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
3574,3575,1505,0015-01-01,880,5,94213145,20421,8,57120,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
3632,3633,14510,0015-01-05,PEB1,5,3000009,22781,8,25439,900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712276,712277,809335,0015-04-30,4047,5,66891874,57340,8,51600,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
712285,712286,809344,0015-04-30,4047,5,87837870,57314,8,56182,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
712316,712317,524768,0015-03-20,4058,5,3605772,56933,8,43918,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
712394,712395,572592,0015-03-27,4058,5,11458285,53945,8,31157,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
712399,712400,572597,0015-03-27,4058,5,28124993,53946,8,35700,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
712467,712468,652320,0015-04-08,4058,5,27678631,59638,8,37441,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
712685,712686,809376,0015-04-30,4058,5,3448262,32606,8,28081,1200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
712698,712699,809389,0015-04-30,4058,5,47413772,57320,8,41400,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
712731,712732,509303,0015-03-18,5086,5,69981782,48125,8,53460,1200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
713206,713207,752900,0015-04-22,5234,5,76363758,49064,8,58937,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2
713321,713322,509489,0015-03-18,5235,5,12376766,48733,8,52980,3600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
713323,713324,509491,0015-03-18,5235,5,46282592,49457,8,61201,7200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
713327,713328,509495,0015-03-18,5235,5,98951052,53783,8,67801,3000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
713577,713578,703414,0015-04-15,5236,5,29166711,45082,8,53772,22500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
713854,713855,524814,0015-03-20,4059,5,81481508,40309,8,51344,3600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
713907,713908,612256,0015-04-02,4059,5,82291678,53167,8,54181,3960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
713964,713965,661033,0015-04-09,4059,5,84677371,47466,8,51816,4500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
714231,714232,612584,0015-04-02,4144,5,82142809,53080,8,72241,5040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
714434,714435,717631,0015-04-17,1055,5,2935414,52647,8,24901,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
714583,714584,717670,0015-04-17,1056,5,77743187,30209,8,35880,15120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
715144,715145,573555,0015-03-27,5213,5,96885076,50419,8,67980,2160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715504,715505,526011,0015-03-20,5543,5,90000048,36150,8,36361,1680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715516,715517,621994,0015-04-03,5543,5,91335740,42345,8,43801,1440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715599,715600,724010,0015-04-18,8049,5,25000008,12122,8,50401,15840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715704,715705,674169,0015-04-11,8051,5,17622675,14854,8,54961,28740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715741,715742,529354,0015-03-21,8052,5,85242527,20467,8,66301,4200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715799,715800,529397,0015-03-21,8048,5,86794567,21302,8,78660,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715821,715822,576968,0015-03-28,8048,5,87584536,18171,8,75541,4920,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715872,715873,724063,0015-04-18,8048,5,3448297,13988,8,51540,3600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
715873,715874,724064,0015-04-18,8048,5,10344797,15370,8,54781,4200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [47]:
eight_runs = eights[['ServiceDate','Run']].drop_duplicates()
eight_runs

       ServiceDate    Run
147     0015-01-01   9705
166     0015-01-01   9708
418     0015-01-01   9716
630     0015-01-01   8702
888     0015-01-01   8706
893     0015-01-01   8711
912     0015-01-01   8730
949     0015-01-01   8712
1013    0015-01-01   8729
1032    0015-01-01   8714
1118    0015-01-01   8721
1161    0015-01-01   8723
1185    0015-01-01   8724
1210    0015-01-01   8725
1222    0015-01-01   8726
1251    0015-01-01   8727
1494    0015-01-31   999R
1516    0015-02-01   999R
1556    0015-02-08   999R
1645    0015-02-22   999R
1854    0015-03-28   999R
1940    0015-04-11   999R
2071    0015-01-01  8003R
3455    0015-04-21  700LD
3574    0015-01-01    880
3632    0015-01-05   PEB1
3724    0015-01-09   PEB1
3823    0015-01-13   PEB1
3877    0015-01-15   PEB1
4070    0015-01-25   PEB1
...            ...    ...
711447  0015-04-30   1084
711905  0015-03-19   4047
711982  0015-04-01   4047
712041  0015-04-02   4047
712167  0015-04-16   4047
712230  0015-04-23   4047
712266  0015-04-30   4047
712316  0015-03-20   4058
712394  0015-03-27   4058
712467  0015-04-08   4058
712685  0015-04-30   4058
712731  0015-03-18   5086
713206  0015-04-22   5234
713321  0015-03-18   5235
713577  0015-04-15   5236
713854  0015-03-20   4059
713907  0015-04-02   4059
713964  0015-04-09   4059
714231  0015-04-02   4144
714434  0015-04-17   1055
714583  0015-04-17   1056
715144  0015-03-27   5213
715504  0015-03-20   5543
715516  0015-04-03   5543
715599  0015-04-18   8049
715704  0015-04-11   8051
715741  0015-03-21   8052
715799  0015-03-21   8048
715821  0015-03-28   8048
715872  0015-04-18   8048

[3598 rows x 2 columns]

In [55]:
subset = data[data.Run.isin(eight_runs.Run)]
subset = subset[subset.ServiceDate.isin(eight_runs.ServiceDate)]
subset

       Unnamed: 0 ServiceDate   Run    CostProxy  PctDeadhead
5             127  0015-01-01  9705  3180.111111     0.464379
6             150  0015-01-01  9708  3891.714286     0.292636
18            400  0015-01-01  9716  3414.750000     0.432389
28            608  0015-01-01  8702  2955.900000     0.372442
40            879  0015-01-01  8706  4170.500000     0.483036
41            892  0015-01-01  8711  4277.142857     0.548597
42            911  0015-01-01  8730  4637.142857     0.503327
43            931  0015-01-01  8712  3694.375000     0.338657
46           1007  0015-01-01  8729  3249.666667     0.061545
47           1031  0015-01-01  8714  3678.000000     0.420507
50           1096  0015-01-01  8721  2962.000000     0.377988
52           1146  0015-01-01  8723  2848.428571     0.356086
53           1165  0015-01-01  8724  3206.666667     0.372661
54           1189  0015-01-01  8725  2940.700000     0.356548
55           1215  0015-01-01  8726  4628.571429     0.586543
56           1235  0015-01-01  8727  4342.000000     0.387478
57           1255  0015-01-01  999R  3870.500000     0.000000
58           1279  0015-01-03  999R  2916.846154     0.369129
59           1310  0015-01-04  999R  4146.000000     0.151857
60           1334  0015-01-10  999R  5230.571429     0.411373
61           1353  0015-01-11  999R  4066.888889     0.208431
62           1375  0015-01-17  999R  3489.818182     0.310826
63           1402  0015-01-18  999R  4280.222222     0.131743
64           1424  0015-01-24  999R  3414.545455     0.365149
65           1451  0015-01-25  999R  4235.888889     0.103691
66           1473  0015-01-31  999R  3867.333333     0.000000
67           1496  0015-02-01  999R  4066.777778     0.398104
68           1519  0015-02-07  999R  4253.333333     0.148406
69           1540  0015-02-08  999R  5271.571429     0.483700
70           1559  0015-02-14  999R  3870.000000     0.389742
...           ...         ...   ...          ...          ...
28528      714488  0015-03-20  1056  3174.000000     0.429490
28529      714514  0015-03-27  1056  3228.700000     0.311488
28530      714540  0015-04-10  1056  2372.727273     0.323640
28531      714568  0015-04-17  1056  2177.142857     0.046325
28532      714585  0015-04-24  1056  2540.333333     0.040579
28551      715102  0015-03-20  5213  2940.000000     0.304048
28552      715127  0015-03-27  5213  3994.285714     0.355973
28553      715147  0015-04-03  5213  4640.000000     0.150970
28554      715164  0015-04-17  5213  3353.333333     0.000000
28555      715187  0015-04-24  5213  2928.000000     0.275615
28574      715492  0015-03-20  5543  3540.200000     0.341845
28575      715506  0015-04-03  5543  4020.250000     0.444500
28576      715518  0015-04-24  5543  2830.000000     0.199823
28577      715534  0015-03-21  8049  3693.800000     0.374682
28578      715548  0015-03-28  8049  1832.000000     0.257860
28579      715583  0015-04-04  8049  2750.000000     0.406485
28584      715659  0015-03-21  8051  4410.000000     0.558844
28585      715671  0015-03-28  8051  3020.000000     0.218764
28586      715687  0015-04-04  8051  2834.666667     0.164687
28587      715707  0015-04-18  8051  6080.000000     0.489474
28588      715717  0015-04-25  8051  2960.000000     0.397241
28589      715733  0015-03-21  8052  4660.000000     0.529685
28590      715744  0015-04-04  8052  4500.000000     0.327056
28591      715756  0015-04-11  8052  3660.000000     0.343934
28592      715770  0015-04-18  8052  4650.000000     0.560376
28593      715782  0015-03-21  8048  4200.428571     0.535864
28594      715802  0015-03-28  8048  4202.285714     0.400020
28595      715824  0015-04-04  8048  3123.777778     0.073309
28596      715847  0015-04-11  8048  3413.333333     0.408301
28597      715871  0015-04-18  8048  3675.000000     0.499388

[17393 rows x 5 columns]

In [56]:
new_data = pd.read_csv('4mo_deadhead_results_test.csv')

In [62]:
import matplotlib.pyplot as plt
plt.hist(new_data.PctDeadhead)
plt.show()
plt.close()
plt.plot(new_data.PctDeadhead, new_data.CostProxy, 'ro')
plt.xlabel('Percent Deadhead')
plt.ylabel('Length of Trip / Number of passengers (seconds)')
plt.show()
plt.close()

In [63]:
new_data[new_data.PctDeadhead > 0.9]

      ServiceDate   Run     CostProxy  PctDeadhead
1284   0015-04-25   BD2   3617.000000     0.932264
1294   0015-03-03   BD3   3120.000000     0.903526
4208   0015-04-16  6060   3225.000000     0.954625
5009   0015-04-21  6131  19037.000000     0.924358
7360   0015-01-16   332  36610.000000     0.911500
7402   0015-01-22   333  37644.000000     0.936245
10890  0015-04-22  1520   3651.200000     0.920848
13598  0015-03-03  4031  20587.000000     0.906737
14193  0015-02-05  4053  29449.000000     0.912391
15357  0015-04-24  4121   1997.142857     0.922818
17123  0015-02-10  5030  22861.000000     0.934386
20039  0015-04-04  9023  34693.000000     0.970599
22073  0015-01-04  9233  19728.000000     0.942214
23936  0015-04-13  2021   5360.000000     0.999689
28494  0015-04-15  5236  31338.000000     0.952135

In [76]:
test = full_data[(full_data.ServiceDate == '0015-04-13') & (full_data.Run == '2021')]
test

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
593114,593115,683096,0015-04-13,2021,5,1,281,4,19740,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593115,593116,683097,0015-04-13,2021,5,6249995,9330,5,22380,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593116,593117,683098,0015-04-13,2021,5,7812500,46778,8,32679,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593117,593118,683099,0015-04-13,2021,5,8333328,13436,0,32680,180,...,19461715,1,DEM,1,CLI1,NaN,30773,1,0,1
593118,593119,683100,0015-04-13,2021,5,16666667,8742,0,32681,180,...,19439378,1,SUB,1,CLI1,NaN,134030,1,0,2
593119,593120,683101,0015-04-13,2021,5,24999964,6065,0,32682,420,...,19439462,1,SUB,1,CLI1,NaN,40567,1,0,3
593120,593121,683102,0015-04-13,2021,5,33333322,13504,1,32683,120,...,19461715,1,DEM,1,NaN,CLI1,30773,0,1,2
593121,593122,683103,0015-04-13,2021,5,41666693,6066,1,32684,300,...,19439462,1,SUB,1,NaN,CLI1,40567,0,1,1
593122,593123,683104,0015-04-13,2021,5,49999985,8743,1,32685,120,...,19439378,1,SUB,1,NaN,CLI1,134030,0,1,0
593123,593124,683105,0015-04-13,2021,5,62499969,46821,8,32686,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593124,593125,683106,0015-04-13,2021,5,66666621,18177,6,34980,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593125,593126,683107,0015-04-13,2021,5,91666671,29603,16,35640,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
593126,593127,683108,0015-04-13,2021,5,99999998,20260,3,35820,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [83]:
print test.Activity.unique()
if 8 in test.Activity.unique(): 
    print 'true'
else:
    print 'false'

[ 4  5  8  0  1  6 16  3]
true

In [96]:
full_data[(full_data.ServiceDate == '0015-04-13') & (full_data.Run == 2064)]

,Unnamed: 0,Rownum,ServiceDate,Run,ProviderId,EvOrder,EvId,Activity,ETA,DwellTime,...,BookingId,SchedStatus,SubtypeAbbr,FundingsourceId1,PassOn,PassOff,ClientID,NumOn,NumOff,TotalPass
309598,309599,683331,0015-04-13,2064,5,1,249,4,45900,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
309599,309600,683332,0015-04-13,2064,5,7142859,11659,0,49860,180,...,19459103,1,DEM,1,CLI1,NaN,123429,1,0,1
309600,309601,683333,0015-04-13,2064,5,14285711,11636,1,50653,120,...,19459103,1,DEM,1,NaN,CLI1,123429,0,1,0
309601,309602,683334,0015-04-13,2064,5,21428568,11991,0,52498,420,...,19459381,1,DEM,1,CLI1,NaN,5254,1,0,1
309602,309603,683335,0015-04-13,2064,5,28571380,11870,1,53759,300,...,19459381,1,DEM,1,NaN,CLI1,5254,0,1,0
309603,309604,683336,0015-04-13,2064,5,35714310,9351,5,54300,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
309604,309605,683337,0015-04-13,2064,5,42857127,1467,0,55815,420,...,19439514,1,SUB,1,CLI1,NaN,126989,1,0,1
309605,309606,683338,0015-04-13,2064,5,49999954,17847,0,56254,210,...,19464920,1,DEM,1,CLI1,NaN,126513,1,0,2
309606,309607,683339,0015-04-13,2064,5,57142843,1468,1,57403,300,...,19439514,1,SUB,1,NaN,CLI1,126989,0,1,1
309607,309608,683340,0015-04-13,2064,5,64285711,17822,1,58200,300,...,19464920,1,DEM,1,NaN,CLI1,126513,0,1,0
309608,309609,683341,0015-04-13,2064,5,69642842,46311,8,58801,4740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
309609,309610,683342,0015-04-13,2064,5,71428526,18192,6,60060,600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
309610,309611,683343,0015-04-13,2064,5,86021530,43054,16,61201,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
309611,309612,683344,0015-04-13,2064,5,99999998,250,3,61202,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0